<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged in user</title>
</head>
<body>
    welcome {{request.user}}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro nesciunt itaque quis quidem ad nihil officiis deserunt nam id hic corporis minus consequuntur fuga incidunt, veritatis officia autem reprehenderit perferendis eius voluptate. Facilis dolores, modi magnam soluta, voluptate illo laborum veniam culpa unde cum natus aperiam quaerat doloribus! Quasi, fugit?</p>
    <a href="/logout">logout</a>

</body>
</html>